body{
    background-image: url(/img/halie-west-GubApA69UZM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    text-align: center;
    color: aqua;
    background-color: rgba(250, 235, 215, 0.212);
    width: 300px;
    margin-left: 490px;
    padding: 20px;
}
.odin{
    width: 85px;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
}
.dogForm{
    margin-top: 50px;
    margin-left: 500px;
}
fieldset{
    text-align: center;
    border-width: medium;
    background-color: rgba(241, 38, 164, 0.411);
    width: 300px;
}
.info{
    color: rgb(170, 210, 255);
}
.input{
    padding: 8px;
}
.buttons{
    padding: 30px;
}
.submit{
    padding: 15px;
    color: chartreuse;
    background-color: brown;
    border-radius: 10px;
}
.submit:hover{
    background-color: hsl(0, 59%, 51%);
}
.credits{
    text-align: center;
    margin-top: 80px;
}